<p id="notice"><%= notice %></p>

<p>
  <h2>
  <%= @brewery.name %>
  </h2>
  <i>Established in <%= @brewery.year %></i>
</p>

<p>
  <strong>Bearcount:</strong>
  <%= @brewery.beers.count %>
</p>
<p>
  <% @brewery.beers.each do |beer| %>
      <%= link_to "#{beer.name}", beer %> <br>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.count > 0 %>
  Average rating: <%= "#{@brewery.average_rating} (#{pluralize(@brewery.ratings.count, " rating")})" %>
      <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) if not current_user.nil? %> |
<%= link_to 'Back', breweries_path %>
