<h1>New Beer</h1>

<%= form_for(@beer) do |f| %>

    <p>
    Name<br>
    <%= f.text_field :name %>
    </p>

    <p>
    Style<br>
      <%= f.select :style, options_for_select(@styles) %>
    </p>

    <p>
    Brewery<br>
    <%= f.select :brewery_id, options_from_collection_for_select(@breweries, :id, :to_s) %>
    </p>

    <p><br>
    <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', beers_path %>

